.banner {
  /* The image used */
  background-image: url(https://wallpapercave.com/wp/wp5347628.jpg);
  background-size: cover;
  padding: 50px;
  height: 500px;
}

#all_lists {
  position: absolute;
  right: 10px;
  top: 5px;
}

#new_list {
  position: absolute;
  right: 10px;
  top: 50px;
}
